:root {
  --clr-primary: #212CFF;
  --clr-secondary: #FFF5E0;
  --clr-tertiary: #212cff0d;
  --bs-body-color: #212CFF !important;
  --main-font: "Roboto", sans-serif !important;
}

html {
  scroll-behavior: smooth;
}

.nav-item, .nav-link {
  color: var(--clr-primary);
}

.my-navbar {
  list-style: none;

  ul {
    padding: 0px;
  }
}

.section-height {
  height: 550px;
}

.section-header {
  font-size: clamp(3rem, 10vw, 7rem);;
  font-family: var(--main-font);
  font-weight: bold;
  font-style: normal;
  line-height: 0.8;
}

.hero-header {
  font-size: clamp(4rem, 10vw, 9rem);
  font-family: var(--main-font);
  font-weight: bold;
  font-style: normal;
  line-height: 0.8;
}

.blue-box {
  background-color: var(--clr-tertiary);
  border: 2px solid var(--clr-primary);
  width: 80%;
  height: 600px;
}

@media (max-width: 1198px) {
  .blue-box {
    height: 400px;
  }

  .phone-text {
      font-size: 1rem;

  }
}

/* @media (max-width: 750px) {

} */

.blue-box-top {
  height: 2rem;
  border-bottom: 2px solid var(--clr-primary);
  background-color: var(--clr-tertiary);
}

.blue-box-bottom {
  height: 2rem;
  border-top: 2px solid var(--clr-primary);
  background-color: var(--clr-tertiary);
}

.phone {
  height: 400px;
  width: 220px;
}

.blue-bg {
  background-color: var(--clr-primary);
}

.peach-bg {
  background-color: var(--clr-secondary);
}

.text-peach {
  color: var(--clr-secondary);
  text-decoration: none;
}

.text-blue {
  color: var(--clr-primary);
  text-decoration: none;
}

.badge-bg-blue {
  background-color: var(--clr-primary);
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.blue-shadow {
  box-shadow: 8px 8px 0 0 var(--clr-primary);
}

.next-section {
  transition: transform 0.1s ease-in-out;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: translateY(0px);
  }
}

.about-img {
  max-width: 80vw;
  object-fit: contain;
}

.about-box {
  max-width: 90vw;
  object-fit: contain;
}

.about-img-container {
  max-height: 500px
}

section {
  height: 100%;
}
