/* General */

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --clr-primary: #212cff;
  --clr-secondary: #fff5e0;
  --clr-tertiary: #212cff0d;
  --clr-hover: #00044d;
  --bs-body-color: #212cff !important;
  --main-font: "Roboto", sans-serif !important;
  --nav-height: 78px;
  --hard-shadow: 8px 8px 0 0 var(--clr-primary);
  --icon-color: var(--clr-primary);
}

[data-theme="dark"] {
  --clr-primary: #eddab1;
  --clr-secondary: #1c1c30;
  --clr-tertiary: #212cff0d;
  --clr-hover: #fff5e0;
  --bs-body-color: #eddab1 !important;
}

[data-theme="light"] .sun-icon {
  display: none;
}

[data-theme="dark"] .moon-icon {
  display: none;
}

body,
.blue-bg,
footer,
.card,
.btn {
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
}

html {
  scroll-behavior: smooth;
}

li .nav-link:hover {
  color: var(--clr-hover);
}

a {
  text-decoration: none;

  &:hover {
    color: var(--clr-hover);
    text-decoration: underline;
  }
}

.section-100 {
  height: calc(100svh - var(--nav-height) + 22px);
}

/* Fonts and Colors */

.blue-bg {
  background-color: var(--clr-primary);
}

.peach-bg {
  background-color: var(--clr-secondary);
}

.text-peach {
  color: var(--clr-secondary);
  text-decoration: none;
}

.text-blue {
  color: var(--clr-primary);
  text-decoration: none;
}

.contact-dark {
  background-color: var(--clr-secondary) !important;
  color: var(--clr-primary) !important;

  .section-header,
  h3 {
    color: var(--clr-primary) !important;
  }
}

.blue-shadow {
  box-shadow: 8px 8px 0 0 var(--clr-primary);
}

/* Navbar Section */

.my-navbar {
  list-style: none;

  ul {
    padding: 0px;
  }
}

.pt-navbar {
  padding-top: 70px;
}

.theme-icon {
  color: var(--icon-color);
}

/* Hero Section */

.portrait {
  width: 90%;
  object-fit: contain;
  box-shadow: var(--hard-shadow);
}

.hero-header {
  font-size: clamp(5rem, 10vw, 9rem);
  font-family: var(--main-font);
  font-weight: bold;
  font-style: normal;
  line-height: 0.8;
}

.section-header {
  font-size: clamp(3.5rem, 10vw, 7rem);
  font-family: var(--main-font);
  font-weight: bold;
  font-style: normal;
  line-height: 0.8;
}

.hero-subline {
  font-size: clamp(1.5rem, 3vw, 2.8rem);
  font-weight: medium;
  font-style: normal;
  line-height: 1.5;
}

@media screen and (max-width: 1200px) {
  #hero-text-container {
    align-items: center;
    text-align: center;
  }
}

/* Projects Section */

#projects,
#about {
  scroll-margin-top: 90px;
}

.badge-bg-blue {
  background-color: var(--clr-primary);
}

.skill-badge {
  background-color: var(--clr-secondary);
  color: var(--clr-primary);
  font-size: 1rem;
  font-weight: 500;
  padding: 0.25rem 1rem;
  border-radius: 5px;
  border: 1px solid var(--clr-primary);
}

.card-width {
  max-width: 900px;

  img {
    max-width: 100%;
  }
}

.project-card {
  transition: all 0.2s ease-in-out;
  border: 2px solid var(--clr-primary);
  border-radius: 10px;
  box-shadow: 8px 8px 0 0 var(--clr-primary);

  &:hover {
    transform: scale(1.05);
  }
}

.github-repo {
  &:hover {
    font-weight: 500;
  }
  &:active {
    scale: 0.95;
  }
}

/* About Section */

.about-box {
  max-width: 90vw;
  object-fit: contain;
}

/* Contact Section */

#contact {
  min-height: 650px;
}

/* Footer Section */

.nav-footer {
  .nav-item,
  .nav-link {
    color: var(--clr-secondary);
    list-style: none;
  }
}

/* Mobile Navbar */

#mobile-nav {
  display: none;
  transition: all 0.5s ease-in-out;
  z-index: 1000;
}

.mobile-menu {
  display: inline-block;
}

.mobile-menu.open {
  background-color: var(--clr-secondary);
}

.mobile-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 26px;
  cursor: pointer;
  margin: 1rem;

  span {
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: var(--clr-primary);
    transition: all 0.3s ease-in-out;
  }

  span:first-child {
    transform: none;
  }

  span:first-child {
    opacity: 1;
  }

  span:first-child {
    transform: none;
  }
}

.mobile-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.mobile-icon.open span:nth-child(2) {
  opacity: 0;
}

.mobile-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.mobile-links {
  position: fixed;
  top: 56px;
  background-color: var(--clr-secondary);
  left: 0;
  right: 0;
  width: 100vw;
  overflow: hidden;
  transform: translateY(-100%);
  transition: all 0.5s ease-in-out;
  padding-top: 1rem;

  a {
    display: block;
    padding: 0.5rem 1rem;
    transform: all 0.3s ease-in-out;
    text-align: left;
  }

  li {
    list-style: none;
  }

  li:hover {
    color: var(--clr-hover);
    scale: 1.1;
  }
}

.mobile-links.open {
  border-bottom: 4px solid var(--clr-primary);
  transform: translateY(0);
}
